#popupClose{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    visibility: hidden;
}
#popupClose.active{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    visibility: visible;
}
#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
#popup{
    min-width: 40%;
    /*border: 1px solid black;*/
    border-radius: 15px;
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0.5rem;
    box-shadow: 0 5px 30px rgba(0,0,0,0.30);
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}