.content-container{
    margin: 2% 20%;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

a, a:visited{
    color: rgb(87, 124, 160);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}